<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="GPSImageTag.DroidNative.GPSImageTag.DroidNative" android:versionCode="1" android:versionName="1.0" android:installLocation="internalOnly">
	<uses-sdk android:targetSdkVersion="16" />
	<application android:label="GPSImageTag.DroidNative"></application>
</manifest>